<div class="header" ng-controller="MenuCtrl">
  <ul class="nav nav-pills pull-right">
    <li class="active" ng-hide="isLoggedIn()"><button  data-toggle="modal" data-target="#loginModal">Login</button></li>
    <li class="active" ng-show="isLoggedIn()"><a ng-href="#">Logout</a></li>
  </ul>
  <h3 class="text-muted">sparta</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true" ng-controller="LoginCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="loginLabel">login</h4>
      </div>
      <form>
        <div class="modal-body">
          <label>Username: </label> <input ng-model="username" />
          <br />
          <label>Password: </label> <input ng-model="password" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
          <button type="button" class="btn btn-primary" ng-submit="login()">log in now</button>
        </div>
      </form>
    </div>
  </div>
</div>
