<div class="header" ng-controller="MenuCtrl">
  <ul class="nav nav-pills pull-right">
    <li class="active" ng-hide="isLoggedIn()"><button  data-toggle="modal" data-target="#loginModal">Login</button></li>
    <li class="active" ng-show="isLoggedIn()">
      Hola, {{user}}
      <button ng-click="logout()">Logout</button>
    </li>
  </ul>
  <h3 class="text-muted">sparta</h3>
</div>

<div class="jumbotron" ng-controller="ClndrCtrl">
  <h1>Greetings, fighter!</h1>
  <br/><br/><br/>
  <p class="lead">
    <div ui-calendar ng-model="eventSources"></div>
  </p>
  <p>
    <select ng-model="sport" ng-options="sport.name for sport in sports"></select><br/>
    <button ng-model="today" >Today</button>
    <button ng-model="specificDate">Select Date</button>
    <a class="btn btn-lg btn-success" ng-click="addEvent()">Splendid!<span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>

<div class="footer">
 
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" z-modal tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="loginLabel">login</h4>
      </div>
      <form ng-controller="LoginCtrl" ng-submit="login()">
        <div class="modal-body" >
          <label>Username: </label> <input type="text" ng-model="username" />
          <br />
          <label>Password: </label> <input type="password" ng-model="password" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
          <button type="submit" class="btn btn-primary" >log in now</button>
        </div>
      </form>
    </div>
  </div>
</div>
